body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.floatLeft{
  float:left;
}

.extraHeight{
  line-height: 2em;
  font-size: large;
}
.uri{
  width: 80%;
}
.contentInput{
  width: 80%;
  height: 500px;
}